@page "/tasks/{ActualPage}/page"
@inherits TaskListBase

<h4 class="task-title font-weight-bold text-center">Tasks</h4>

<div class="row mx-0 my-3">
    <button @onclick="ClickCreateTask" class="btn btn-success">
        <span class="oi oi-plus" aria-hidden="true"></span>
        Create Task
    </button>
</div>

@if (Tasks != null)
{
    foreach (var task in Tasks)
    {
        <DisplayTask TaskDeletion="TaskDeleted" Task="task"></DisplayTask>
    }

    <nav aria-label="Page navigation">
        <ul class="pagination">
            <li class="page-item"><a class="page-link" href="#">Previous</a></li>
            <li class="page-item"><p class="page-link bg-warning">Actual Page : @(ActualPage)</p></li>
            <li @onclick="NextPage" class="page-item"><a class="page-link" href="#">Next</a></li>
        </ul>
    </nav>
}


