@page "/tasks"
@inherits TaskListBase

<h4 class="task-title font-weight-bold text-center">Tasks</h4>

<div class="row mx-0 my-3">
    <button class="btn btn-success">
        <span class="oi oi-plus" aria-hidden="true"></span>
        Create Task
    </button>
</div>

@if(Tasks != null)
{
    foreach(var task in Tasks)
    {
        <DisplayTask Task="task"></DisplayTask>
    }
}
