<nav class="navbar navbar-expand-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <a class="navbar-brand" href="#">Flow Task Manager</a>
    <button @onclick="ToggleNavBar" class="navbar-toggler" type="button">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div @onclick="ToggleNavBar" class="@NavBarClass" id="navbarSupportedContent">
        <ul class="navbar-nav flex-grow-1">
            <li class="nav-item">
                <NavLink class="nav-link text-dark" href="" Match="NavLinkMatch.All">
                    <span class="oi oi-home" aria-hidden="true"></span> Home
                </NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link text-dark" href="/users" @onclick="HandleClickUsers" Match="NavLinkMatch.All">
                    <span class="oi oi-plus" aria-hidden="true"></span> Users
                </NavLink>
            </li>
        </ul>
    </div>
</nav>

@code {
    [Inject]
    NavigationManager NavigationManager { get; set; }
    bool collapseNavbar = true;

    string baseMenuClass = "navbar-collapse d-sm-inline-flex flex-sm-row-reverse ";

    string NavBarClass => baseMenuClass + (collapseNavbar ? "collapse" : "");

    void HandleClickUsers()
    {
        NavigationManager.NavigateTo("/users");
    }

    void ToggleNavBar()
    {
        collapseNavbar = !collapseNavbar;
    }
}
